<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>博客</title>
    <!-- 移动端缩放设置 -->
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- semantic UI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!--自定义css-->
    <link rel="stylesheet" href="../static/css/me.css">

</head>

<body>


<!-- 导航 -->
<!--inverted反转，加了就是黑的;attached 依附，加了导航栏就没有圆角了，贴边;m-padding-tb-mini在自定义css中，缩小导航栏上下空黑的距离-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padding-tb-mini m-shadow-small">
    <!--ui container让其位置不再顶格-->
    <div class="ui container">
        <!--secondary使得字体颜色变化; stackable使得屏幕小的时候会堆叠-->
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <!--icon可以去ui文档查-->
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="搜索">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- 加一个图标，使得在移动端可以通过其来展开 -->
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!-- 中间内容 -->
<div class="m-container m-padding-tb-big fadeIn">

    <!--这个容器能根据容器达到适应的显示大小-->
    <div class="ui container">
        <div class="ui stackable grid">

            <!--左边博客列表-->
            <div class="eleven wide column">
                <!-- 左内 header -->
                <div class="ui top attached segment">
                    <!-- 垂直方向居中，两列的布局 -->
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            <!-- h3会换行，所以自定义css -->
                            共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">
                            14 </h2> 篇
                        </div>
                    </div>
                </div>

                <!-- 左内content -->
                <!-- vertical设置成垂直的，中间就会有线条 -->
                <div class="ui attached segment">

                    <!-- 第一条博客 -->
                    <div class="ui padded vertical segment m-padding-tb-big" th:each="blog : ${page.content}">
                        <!--反转使得手机端时图片堆叠在上面-->
                        <div class="ui middle aligned mobile reversed stackable grid" >
                            <!-- 左 -->
                            <div class="eleven wide column">
                                <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                                                         class="m-black" th:text="${blog.title}">这是博客的文章的标题</a></h3>
                                <!--                                    给描述加一个省略号通过这个格式增加字符串-->
                                <p class="m-text" th:text="|${blog.description}......|">
                                    这是一个段落内容这是一个段落内容,多加一点才能显的格式稍微好看点这是一个段落内容这是一个段落内容,
                                    多加一点才能显的格式稍微好看点这是一个段落内容这是一个段落内容 ,多加一点才能显的格式稍微好看点这是一个段落内容这是一个段落内容,
                                    多加一点才能显的格式稍微好看点这是一个段落内容这是一个段落内容,多加一点才能显的格式稍微好看点这是一个段落内容这是一个段落内容,
                                    多加一点才能显的格式稍微好看点这是一个段落内容这是一个段落内容,多加一点才能显的格式稍微好看点这是一个段落内容这是一个段落内容,
                                    多加一点才能显的格式稍微好看点这是一个段落内容这是一个段落内容,多加一点才能显的格式稍微好看点这是一个段落内容这是一个段落内容,
                                    多加一点才能显的格式稍微好看点这是一个段落内容这是一个段落内容,多加一点才能显的格式稍微好看点</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!-- avatar让图变圆 -->
                                                <img src="https://picsum.photos/id/1019/100/100"
                                                     th:src="@{${blog.user.avatar}}" id="avatar"
                                                     alt="" class="ui avatar image"
                                                     th:onclick="'window.location.href=\'' + @{/about}+ '\''">

                                                <div class="content">
                                                    <a th:href="@{/about}" class="header" th:text="${blog.user.nickname}">ch</a>
                                                </div>
                                            </div>
                                            <div class="item"><i class="calender icon"></i><span
                                                    th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-10-19</span>
                                            </div>
                                            <div class="item"><i class="eye icon"></i><span
                                                    th:text="${blog.views}">123</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column"><a href="#" target="_blank"
                                                                                   class="ui teal basic label m-padding-tiny m-text-thin"
                                                                                   th:text="${blog.type.name}">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!-- 右（图片） -->
                            <div class="five wide column">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                    <img src="https://picsum.photos/id/1019/800/450" th:src="@{${blog.firstPicture}}"
                                         alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>



                </div>

                <!--左内footer-->
                <!-- 底部，放两个按钮，也可以参考上面布局 -->
                <div class="ui bottom attached segment " th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <!-- 小的，绿的，空心的，按钮形 -->
                            <a th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}"
                               class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <!-- 小的，绿的，空心的，按钮形 -->
                            <a th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}"
                               class="ui mini teal basic button">下一页</a>

                        </div>
                    </div>

                </div>

            </div>

            <!--右边的top-->
            <div class="five wide column">

                <!--分类-->
                <div class="ui segments">
                    <!--灰色的框-->
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column"><i class="idea icon"></i>分类</div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/types/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu">
                            <!-- item特性文字之后随便加个东西，文字居左，另一个东西居右 -->
                            <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item" th:each="type : ${types}">
                                <span th:text="${type.name}">学习日志</span>
                                <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                            </a>

                            <!--/*-->
                            <a href="#" class="item">学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">学习日志
                                <div class="ui teal basic left pointing label">13 </div>
                            </a>
                            <a href="#" class="item">学习日志
                                <div class="ui teal basic left pointing label">13 </div>
                            </a>
                            <a href="#" class="item">学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <!--*/-->
                        </div>
                    </div>
                </div>

                <!--标签-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column"><i class="tags icon"></i>标签</div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/tags/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="ui teal segment">
                        <div class="fluid vertical menu"></div>
                        <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny" th:each="tag : ${tags}">
                            <span th:text="${tag.name}">方法论</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                       </a>
                        <!--/*-->
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">23</div>
                        </a>
                        <!--*/-->
                    </div>
                </div>


                <!--最新推荐-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment ">
                        <i class="bookmark icon"></i>最新推荐
                    </div>

                    <div class="ui segment" th:each="blog : ${recommendBlogs}">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-text-thin" th:text="${blog.title}">用户故事USer</a>
                    </div>
                    <!--/*-->
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事USer</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事USer</a>
                    </div>
                    <!--*/-->
                </div>


                <!--二维码-->
                <!-- 分割线 -->
                <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>
                <div class="ui centered card" style="width: 11em">
                    <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt=""
                         class="ui rounded image">
                </div>

            </div>
        </div>
    </div>

</div>

<!-- 底部footer -->
<!--vertical垂直的，去除圆角；m-padding-tb-massive在自定义css中，放大间隔-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padding-tb-massive">
    <!--居中-->
    <div class="ui center aligned container">
        <!--做一个容器，布局，分成16份，bootstrap会分成12份；按3 3 3 7布局;inverted divided,白线分割-->
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--圆角图片-->
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image"
                             alt="" style="width: 100px">
                    </div>
                </div>

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: 1650751586@qq.com</a>
                    <a href="#" class="item">qq: 1650751586</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Bolg</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是个人博客，分享，，帮助，，。。。。。。。凑字数</p>
            </div>
        </div>
        <!--分割线-->
        <div class="ui inverted sction divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 版权所有，虽然我是抄的</p>
    </div>
</footer>

<th:block th:replace="_fragments :: script">
    <!-- jquery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <!-- semantic UI -->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</th:block>

<!-- 得放在jquery下面 -->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');

    })
    // $('#avatar').click(function () {
    //     // location.href='http://localhost:8080/about';
    // })
</script>
</body>

</html>